* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, Arial, sans-serif;
}

.hangman {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #fff;

    height: 100vh;
    background-color: #25d884;


    &__word {
        max-width: 100%;

        margin-bottom: 1rem;
        padding-left: 1.5rem;

        font-size: 1.75rem;
        line-height: 1.25;
        letter-spacing: 1.5rem;

        text-align: center;
        text-transform: uppercase;
    }

    &__guesses {
        margin-bottom: 1rem;

        font-size: 1.25rem;
        line-height: 1.2;

        text-align: center;
    }

    &__reset {
        padding: .75rem;

        color: #fff;
        font-size: 1.25rem;

        background-color: #c23535;
        border: none;
        border-radius: 5px;

        cursor: pointer;

        transition: background-color .3s ease;

        &:hover {
            background-color: lighten(#c23535, 10%);
        }

        &:focus {
            outline: none;
        }
    }
}
